.listing {

}
.listing__item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.navigation ul {
    display: flex;
    gap: 5px;
}